body {/*width:740px;*/
	background: white;
	/*background-image: url(http://www.zingerbugimages.com/backgrounds/white_marble_background_seamless.jpg);*/

}
.page-wrapper {width: 100%;
    max-width: 600px;
    margin:auto;
}
.me {width: 100%;
	max-width:600px;
	height:110px;
	line-height: 65px;
	padding-top: 25px;
	/*border:3px solid orange;*/
	}
.contact{position: relative;
			bottom:52px;
			left:520px;
			width:300px;
			height:80px;
			/*border:2px solid orange*/;
		}

.firstname {font-family:georgia;
	color: #475E6C;
	font-size: 93px;
	text-align: left;
	margin:0px;
	font-weight:lighter;
}

.lastname {font-family: georgia;
	color: #475E6C;
	font-size: 45px;
	margin:0px;
	font-weight: lighter;
}

.about 	{font-family: sans-serif;
	font-size: 20px
	font-weight: light;
	color:#475E6C;
}
.work 	{font-family:sans-serif;
	font-size:20px;
	color:#475E6C;
}
.more 	{font-family: sans-serif;
	font-size:20px;
	color:#475E6C;
}
ul {color: #475E6C;
	margin-left:-40px;
    list-style-type: none;
	font-family: sans-serif;
	font-weight: lighter;
	line-height: 24px}

text-transform: uppercase;}

img {width: 50px;
	 }
	 
h2 {font-family: georgia;
	color: #475E6C;
	font-weight: lighter;
	text-align: left;
	font-size: 22px;
}

a {text-decoration: none;
	color:orange;}
a:hover {text-decoration: underline;
		color:orange;
		font-weight: bold;}
p {color: #475E6C;
	font-family: sans-serif;
	font-weight: lighter;
	letter-spacing: 1.2px;
	line-height: 20px;
	}
p.interactive {font-size:18px;}

img {width:22px;
	}
