body {/*width:740px;*/
	background: white;
}
.page-wrapper {width: 100%;
    max-width: 600px;
    background-color: white  ;
    margin:100px 300px 100px 300px;
}

.firstname {font-family: hoefler;
	color: #88B5D1;
	font-size: 84px;
	text-align: left;
	margin:0px;
}

.lastname {font-family: hoefler;
	color: #88B5D1;
	font-size: 43px;
	margin:0px;
}
.about 	{font-family: hoefler;
	font-size: 20px;
}
.work 	{font-family:hoefler;
	font-size:20px;
}
.more 	{font-family: hoefler;
	font-size:20px;
}
ul {margin-left:-40px;
    list-style-type: none;
	color:#88B5D1;}

text-transform: uppercase;}

img {width: 50px;
	 }
	 
h2 {font-family: helvetica;
	color: #88B5D1;
	font-weight: bold;
	text-align: left;}

a {text-decoration: none;
	color: #88B5D1}
a:hover {text-decoration: underline;
		color: #88B5D1;
		font-weight: bold;}
p {color: #475E6C;
	}
h4 {font-family: helvetica;
	color: #88B5D1;
align:right;}
p.contact {font-size: 12px;
	line-height: 4px;
	align:right;
	}


